

<div id='register'>
<h2>Register</h2>
<form action='<%= users_path %>' method='post'>
	<input type="hidden" name="authenticity_token" value='<%= form_authenticity_token%>'>
	<label>First Name</label>
	<hr>
	<input type="text" name="fname">
	<label>Last Name</label>
	<hr>
	<input type="text" name="lname">
	<label>Email</label>
	<hr>
	<input type="text" name="email">
	<label>Password</label>
	<hr>
	<input type="password" name="password">
	<label>Confirm Password</label>
	<hr>
	<input type="password" name="confirm_password">
	<button type='submit'>Register</button>
</form>
</div>
<div id='login'>
<h2>Login</h2>
	<form action='<%=sessions_path%>' method='post'>
	<input type="hidden" name="authenticity_token" value='<%= form_authenticity_token%>'>
	<label>Email</label>
	<hr>
	<input type="text" name="email">
	<label>Password</label>
	<hr>
	<input type="password" name="password">
	<button type='submit'>Login</button>
</form>
</div>
