// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create{
	margin-left: 600px;
	margin-top: -200px;	
}
#events{
	text-align: center;
	box-shadow: 0 0px 8px 0 #f48024;
	border-radius: 20px;
	width: 500px;
	margin-bottom: 20px;
}